
body { text-align: center;
    background-color: rgb(188, 223, 245);
}
h1 {
    color: chocolate;
    text-align: left;
}

h2 {
    background-color: chocolate; color: gainsboro; border-radius: 25px;
    margin-bottom: 0px;
}
p,h3,li {text-align: left;}

    


    .kırmızı {color: red;}

table {
    border-spacing: 2px 2px; /* kırmızı başlıklarda aralık bırakmak için */
  }

 ol, ul {
    display: inline-block;
      }

      .box1 {
        display: block;  
        width: 500px;
        margin: auto;
        text-align: left;
    }

    .box2 {
        display: block;  
        width: 500px;
        margin: auto;
        text-align: left;

}

.box3 {
    
    display: block;  
    background-color: lightblue;
    width: 600px;
    margin-left: 445px;
}